<div class="badge">
  <div class="badge-dot"></div>
  <p>
    <slot />
  </p>
</div>

<style>
  .badge {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0.8rem;
    background: rgba(0, 145, 255, 0.1);
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
    width: fit-content;
    box-shadow: 0 0 0.5rem rgba(0, 145, 255, 0.2);
  }

  .badge-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--secondary);
    border-radius: 50%;
    box-shadow: 0 0 0.5rem var(--secondary);
    animation: pulse 2s infinite;
  }

  .badge p {
    margin: 0;
    font-size: var(--fs-sm);
    color: var(--secondary);
    text-shadow: 0 0 0.5rem var(--secondary);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
